<section class="page__share">
    {% if site.data.ui-text[site.locale].share_on_label %}
    <h4 class="page__share-title">{{ site.data.ui-text[site.locale].share_on_label | default: "Share on" }}</h4>
    {% endif %}

    <!-- Twitter -->
    <a href="https://twitter.com/intent/tweet?{% if site.twitter.username %}via={{ site.twitter.username | url_encode }}&{% endif %}text={{ page.title | url_encode }}%20{{ page.url | absolute_url | url_encode }}"
        class="btn btn--twitter"
        onclick="window.open(this.href, 'window', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
        title="{{ site.data.ui-text[site.locale].share_on_label | default: 'Share on' }} Twitter">
        <i class="fab fa-fw fa-twitter" aria-hidden="true"></i><span> Twitter</span></a>

    <!-- LinkedIn -->
    <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ page.url | absolute_url | url_encode }}"
        class="btn btn--linkedin"
        onclick="window.open(this.href, 'window', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
        title="{{ site.data.ui-text[site.locale].share_on_label | default: 'Share on' }} LinkedIn">
        <i class="fab fa-fw fa-linkedin" aria-hidden="true"></i><span> LinkedIn</span>
    </a>

    <!-- Email -->
    <a href="mailto:?Subject={{ page.title }}&amp;Body=I%20saw%20this%20and%20thought%20of%20you!%20 {{ page.url | absolute_url | url_encode }}"
        class="btn btn--primary"
        title="{{ site.data.ui-text[site.locale].share_on_label | default: 'Share via' }} Email">
        <i class="fas fa-fw fa-envelope-square" aria-hidden="true"></i><span> Email</span></a>

    <!-- Print -->
    <a href="javascript:;" onclick="window.print()">
        print
    </a>

    <!-- Reddit -->
    <a href="http://reddit.com/submit?url={{ page.url | absolute_url | url_encode }}&amp;title={{ page.title }}" target="_blank">
        Reddit
    </a>
</section>